.email-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #18253b;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    border: 2px solid #2feb00;
  }
  
  .email-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .email-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: aliceblue;
  }
  
  .email-container input,
  .email-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -10px;
    border: 1px solid #2feb00;
    border-radius: 4px;
  }
  
  .email-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .email-container button:hover {
    background-color: #218838;
  }

  h1{
    color: #2feb00;
    
  }
  