<div class="header">
    <h1>Dipak Rasal</h1>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about" class="active">About</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>



<div class="about-container">
    <h2>About</h2>
    <div class="about-content">
      <div class="profile-pic">
        <img src="assets/DipakAM19500158.png" />
      </div>
      <div class="about-details">
        <p>
          Focused and Enthusiastic developer with a keen interest in software
          development and Cloud & DevOps. By comprehensive exposure to the
          underlying concepts and applying them vividly to various projects, my
          love for these domains came into being. I am a passionate individual
          who thrives to build and apply algorithms to solve real-world industry
          problems.
        </p>
        <ul>
          <li> <strong> =>  </strong><b> Birthday : </b> {{birth_date}} </li>
          <li> <strong> =>  </strong><b> Phone : </b> {{mobile_no}} </li>
          <li> <strong> =>  </strong><b> City : </b> {{city}} </li>
          <li> <strong> =>  </strong><b> Email : </b> {{email}} </li>
        </ul>
      </div>
    </div>
  
    <h2>Interests</h2>
    <div class="interests-container">
      <div class="interest">
        <i class="fas fa-globe"></i>
        <h3>Software Development</h3>
      </div>
      <div class="interest">
        <i class="fas fa-database"></i>
        <h3>Databases</h3>
      </div>
      <div class="interest">
        <i class="fas fa-camera"></i>
        <h3>Computer Vision</h3>
      </div>
      <div class="interest">
        <i class="fas fa-language"></i>
        <h3>Natural Language Processing</h3>
      </div>
      <div class="interest">
        <i class="fas fa-code"></i>
        <h3>Software Engineering</h3>
      </div>
      <div class="interest">
        <i class="fas fa-chart-bar"></i>
        <h3>Visualization</h3>
      </div>
      <div class="interest">
        <i class="fas fa-calculator"></i>
        <h3>Algorithms</h3>
      </div>
      <div class="interest">
        <i class="fas fa-image"></i>
        <h3>Image Processing</h3>
      </div>
    </div>
  </div>
  






































<!-- <div class="about-me container">

    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p>Focused and enthusiastic developer with a keen interest in software development and Cloud & Devops. By comprehensive exposure
          to the underlying concepts and applying them vividly to various projects, my love for these domains came into being.
          I am a passionate individual who thrives to build and apply algorithms to solve real-world industry problems.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 06 October 2001</li>
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 7489356891</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Indore, Vijay Nagar</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div> -->
