.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #3fff18;
    border-radius: 8px;
    background-color: #18253b;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #3fff18;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: #ccc;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  