<div class="header-container">
    <h1>Diapk Rasal</h1>
    <p><b><u>I'm <span id="typing"></span></u></b></p>
    <nav>
      <ul>
        <li><a routerLink="/" class="active">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/dipakrasal2009/"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/dipakrasal2009"><i class="fab fa-github"></i></a>
      <a href="https://google.com"><i class="fab fa-google"></i></a>
    </div>
  </div>
  

















<!-- <body>
Google Tag Manager (noscript) -->
 <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BB8W2X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <!-- ======= Header ======= -->
    <!-- <header id="header" class="header-tops">
  
      <div class="container">
  
        <h1><a href="index.html">Dipak Rasal</a></h1>
        <h2 style="color:#fff">I'm <span class="typing" style="color:#12D640"></span></h2>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header"> <span>Home</span></a></li>
            <li><a routerLink="/about" routerLinkActive="active"><span>About</span></a></li>
            <li><a href="#portfolio"> <span>Projects</span></a></li>
            <li><a href="#skills"> <span>Skills</span></a></li>
            <li><a href="#contacts"> <span>Contact</span></a></li>
  
          </ul>
        </nav>.nav-menu -->
  
        <!-- <div class="social-links">
            <a href="https://www.linkedin.com/in/bhupeshchoudhary" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.github.com/bhaibhupesh10" target="_blank" class="github"><i class="bx bxl-github"></i></a>
            <a href="mailto:bhupesh7750@gmail.com" target="_blank" class="google"><i class="bx bxl-google"></i></a>
  
        </div>
  
      </div>
    </header>
</body> -->