





.header-container {
    background-color: #122034;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    margin-bottom: 20%;
  }
  
  .header-container h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 10%;
  }
  
  .header-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #33ed09;
    text-underline-position: auto;
  }
  
  .header-container nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .header-container nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .header-container nav ul li a {
    color: #8b949e;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .header-container nav ul li a.active {
    color: #29fd0d;
  }
  
  .header-container nav ul li a:hover 
  {
    color: #33ed09;
  }
  
  .social-icons {
    margin-top: 1.5rem;
    margin-bottom: 17%;
  }
  
  .social-icons a {
    color: #605957;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #3ae900;
  }
  























/* body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
    background: transparent;
  }
  
  body::before {
    content: "";
    position: fixed;
    background: #010e1b;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
  }
  
  @media (min-width: 1024px) {
    body::before {
      background-attachment: fixed;
    }
  }
  
  a {
    color: #12d640;
  }
  
  a:hover {
    color: #12d640;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  









#header {
    transition: ease-in-out 0s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
  }
  
  #header * {
    transition: ease-in-out 0s;
  }
  
  #header h1 {
    font-size: 48px;
    margin-top: 0px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  
  #header h1 a, #header h1 a:hover {
    color: #dee2e6;
    line-height: 1;
    display: inline-block;
  }
  
  #header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #12d640;
  }
  
  #header h2 span {
    color: #ffc107;
    border-bottom: 2px solid #1c7d32;
    padding-bottom: 6px;
  }
  
  #header img {
    padding: 0;
    margin: 0;
  }
  
  #header .social-links {
    margin-top: 40px;
    display: flex;
  }
  
  #header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  #header .social-links a:hover {
    background: #1c7d32;
  }
  
  @media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
    #header .social-links {
      margin-top: 15px;
    }
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  /* .nav-menu {
    margin-top: 35px;
  }
  
  .nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu li + li {
    margin-left: 30px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .nav-menu a:before {
    content: ""; 
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #9e7f25;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 25px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #12d640;
    text-decoration: none;
  }
  
  /* Mobile Navigation */
 /* .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    transition: ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
    border: 2px solid rgba(255, 255, 255, 0.12);
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #1c7d32;
    text-decoration: none;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
   */